* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(55, 97, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
    padding-top: 15px;
}

button {
    padding: 5px;
    display: inline-block;
    margin: 5px auto;
}

#player .player-1 {
    color: yellow;
}
#player .player-2 {
    color: red;
}

#turn {
    display: none;
    margin-left: 10px;
}

#turn.turn {
    display: inline-block;
}

.connect-four {
    width: 700px;
    height: 600px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 15px auto;
}

.column:hover {
    background-color: tan;
}

.position {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: rgb(55, 97, 194);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

.win .circle {
    border: 8px solid green;
}

.player-1 .circle {
    background-color: yellow;
}
.player-2 .circle {
    background-color: red;
}
