* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --player1: yellow;
    --player2: red;
    /* --background: ghostwhite; */
    --background: rgb(55, 97, 194);
    --linkhover: rgba(255, 255, 255, 0.3);
    --text-primary: black;
}

body {
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

ul.top-nav {
    display: flex;
    justify-content: space-between;
}

ul.top-nav li {
    padding: 1rem;
}

button {
    padding: 5px;
    margin: 5px auto;
}

button.finished {
    display: block;
}

/* =============== STYLES ================== */
.headertop {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}
a:visited {
    color: var(--text-primary);
}

/* =============== GAME ================== */

.gameheader {
    margin: 1rem;
}
.gameheader h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameheader h2 * {
    margin: 0 0.5rem;
}
.gameheader h2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.player-1 {
    color: yellow;
}
.player-2 {
    color: red;
}

#turn,
#win,
#lose {
    display: none;
    margin-left: 5px;
}

#turn.turn,
#win.win,
#lose.lose {
    display: inline-block;
}

.connect-four {
    width: 700px;
    height: 600px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 50px;
    margin: 15px auto;
}

.column:hover {
    background-color: tan;
}

.position {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: rgb(55, 97, 194);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

.win.circle {
    border: 10px solid green;
}

.player-1.circle {
    background-color: yellow;
}
.player-1 .circle {
    background-color: yellow;
}
.player-2.circle {
    background-color: red;
}
.player-2 .circle {
    background-color: red;
}
/* HOME */
.home {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}
/* PROFILE */
.profile {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    color: ghostwhite;
}
.profile img {
    width: 200px;
    height: auto;
    justify-content: center;
    margin-right: 3rem;
    border-radius: 10px;
}
.profile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* MODAL */
.modal {
    z-index: -10;
    opacity: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.modal.show {
    opacity: 1;
    z-index: 10;
}
.modal .content {
    width: 400px;
    height: 150px;
    background-color: seashell;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
    transition: all 0.3s ease;
    font-weight: bold;
}
.modal.show .content {
    margin-bottom: 15%;
}

/* GAME LIST */
.gamelist {
    width: 50%;
    min-width: 350px;
}
li.game {
    margin: 0.4rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}
li.game:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
/* USER LIST */
.userlist {
    width: 40%;
    min-width: 350px;
}
li.user {
    margin: 0.4rem 0;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
}
li.game a h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
li.user *,
li.game a h3 * {
    margin: 0 0.5rem;
}
li.user img,
li.game img,
.top-nav img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
li.user:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
