* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --player1: yellow;
    --player2: red;
    --background: ghostwhite;
    --linkhover: rgba(255, 255, 255, 0.3);
    --text-primary: black;
}

body {
    background-color: rgb(55, 97, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

ul.top-nav {
    display: flex;
    justify-content: space-between;
}

ul.top-nav li {
    padding: 1rem;
}

button {
    padding: 5px;
    margin: 5px auto;
}

button.finished {
    display: block;
}

/* =============== STYLES ================== */
.headertop {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

a {
    text-decoration: none;
}
a:visited {
    color: var(--text-primary);
}

/* =============== GAME ================== */

.gameheader {
    margin: 1rem;
}
.gameheader h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameheader h2 * {
    margin: 0 0.5rem;
}
.gameheader h2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.player-1 {
    color: yellow;
}
.player-2 {
    color: red;
}

#turn,
#win,
#lose {
    display: none;
    margin-left: 5px;
}

#turn.turn,
#win.win,
#lose.lose {
    display: inline-block;
}

.connect-four {
    width: 700px;
    height: 600px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 50px;
    margin: 15px auto;
}

.column:hover {
    background-color: tan;
}

.position {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: rgb(55, 97, 194);
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

.win.circle {
    border: 10px solid green;
}

.player-1.circle {
    background-color: yellow;
}
.player-1 .circle {
    background-color: yellow;
}
.player-2.circle {
    background-color: red;
}
.player-2 .circle {
    background-color: red;
}
/* HOME */
.home {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

/* GAME LIST */
.gamelist {
    width: 50%;
}
li.game {
    margin: 0.3rem 0;
    background-color: rgba(255, 255, 255, 0.3);
}
li.game:hover {
    cursor: pointer;
    background-color: var(--linkhover);
}
/* USER LIST */
.userlist {
    width: 40%;
}
li.user {
    margin: 0.3rem 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
li.user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
li.user:hover {
    cursor: pointer;
    background-color: var(--linkhover);
}
